<div class="mt-3">
 <td>
     <%= form_with model: [book, book_comment], local:false do |f| %>
     <%= f.text_area :comment, placeholder: "コメントをここに", class: "w-100" %>
     <%= f.submit "送信する" %>
     <% end %>
  </td>
</div>